.header{
   display: flex;
   justify-content: space-evenly;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 999;
   background-color: #1b1b1b;
}

.header_left{
	display: flex;
}

.header_left > img{
	object-fit: contain;
	height: 60px;
	margin-right: 5px;
}
.header_search{
	margin: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	height: 15px;
	color: orange;
	background-color: #242424;
}
.header_search > input{
	outline: none;
	border:none;
	background:none;
	color: orange;
}
.header_right{
	display: flex;
}
.feed_inputOptions{
	display: flex;
	justify-content: space-evenly;
}














